:root {
  /* static */
  --max-width: 1600px;
  --transition : .5s;
  --decoration : rgba(0, 255, 0, 0.4);


  /* dinamic theme*/
  --background-color-d : #000;
  --background-color-l : #fff;
  --text-color-d : #fff;
  --text-color-l : #000;
  --header-footer-color : #eeeeee70;
  --nav-color : #4fe920c7;
  /* dinamic size */
  --main-padding : 20px;
  --header-nav-footer-height : 100px;
  --main-height : calc(100dvh - var(--header-nav-footer-height)*3);
  --main-size  : calc(10px + 1vw);
}

/* @media (prefers-color-scheme: dark) {
  :root {


    --background-color : #000;
    --text-color : #fff;
  }
} */


@media (min-width : 1600px){
    :root{
      --main-padding : 20px;
      --header-nav-footer-height : 100px;
    }
}
@media (min-width : 992px) and (max-width :1599px){
  :root{
    --main-padding : 15px;
    --header-nav-footer-height : 70px;
  }
}
@media (min-width : 768px) and (max-width : 991px){
  :root{
    --main-padding : 10px;
    --header-nav-footer-height : 60px;
  }
}
@media (max-width :  767px){
  :root{
    --main-padding : 8px;
    --header-nav-footer-height : 50px;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
  background: var(--background-color);
  color : var(--text-color);
  font-size: var(--main-size);
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
.dark{
  background-color: var(--background-color-d) ;
  color: var(--text-color-d);
}
.light{
  background-color: var(--background-color-l) ;
  color: var(--text-color-l);
}
.container{
  width : 100%;

}
.header-container,.footer-container{
  background-color: var(--header-footer-color);
}

.nav-container{
  background-color: var(--header-footer-color);
}

.header,
.nav,
.main,
.footer{
  width : min(var(--max-width) , 100vw);
  margin-inline : auto;
  padding: var(--main-padding);
}
.nav{
  background-color: var(--nav-color);
}
.header,.nav,.footer{
  min-height: var(--header-nav-footer-height);

}
.main{
  min-height:var(--main-height);
}
